DATABASE_URL="postgresql://sgms:change-me-strong-password@127.0.0.1:5432/sgms?schema=public"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="https://sgms.cicibyte.com"
NEXTAUTH_URL="https://sgms.cicibyte.com"

LICENSE_API_BASE_URL=https://license.cicibyte.com/api/v1/license
LICENSE_APP_CODE=sgms
LICENSE_API_KEY=
LICENSE_API_TIMEOUT_MS=15000
