openapi: 3.1.0
info:
  title: CiCiByte SGMS API
  version: 1.0.0
  description: Smart Gym Management System — tenant & athlete API v1

servers:
  - url: https://sgms.cicibyte.com
    description: Production
  - url: http://localhost:3000
    description: Local development

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API token

  schemas:
    ApiEnvelope:
      type: object
      properties:
        ok:
          type: boolean
        data:
          type: object
        error:
          type: string

paths:
  /api/v1/auth/login:
    post:
      summary: Issue Bearer API token
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                scope:
                  type: string
                  enum: [auto, athlete, staff]
                  default: auto
      responses:
        '200':
          description: Token issued
        '401':
          description: Invalid credentials

  /api/v1/auth/logout:
    post:
      summary: Revoke current Bearer token
      tags: [Auth]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Token revoked

  /api/v1/me:
    get:
      summary: Current user profile (staff or athlete)
      tags: [Profile]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profile payload

  /api/v1/measurements:
    get:
      summary: List health measurements
      tags: [Measurements]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: gymMemberId
          schema:
            type: string
      responses:
        '200':
          description: Measurement list

  /api/v1/programs:
    get:
      summary: List training programs
      tags: [Programs]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Program list

  /api/v1/messages:
    get:
      summary: Inbox or sent messages
      tags: [Messages]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: box
          schema:
            type: string
            enum: [inbox, sent]
      responses:
        '200':
          description: Message list
